.app-header {
    background-color: #3aaa35;
    flex-direction: row;
    height: 55px;
    margin: 0;
    padding: 0;
    position: relative;
}

.bg-light-gs {
    background-color: #4d4f4c;
    border: 1px solid #4d4f4c;
    color: #4d4f4c;
}

.sidebar-pills a.nav-link {
    color: #fff !important;
}

.sidebar.sidebar-pills .nav-link {
    color: #fff !important;
}

.sidebar .nav-link .nav-icon {
    color: #fff !important;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.5rem 0 0;
    text-align: center;
    width: 1.25rem;
}
.sidebar.sidebar-pills .nav-link.active,
.sidebar.sidebar-pills .nav-link:hover {
    background-color: #4d4f4c;
    color: #fff !important;
}
/* .sidebar.sidebar-pills .nav-link.active .nav-icon,
.sidebar.sidebar-pills .nav-link:hover .nav-icon {
    color: #fff;
} */
